body {
  color: #00008B;
  --value: white;
  background-color: var(--value);
  transition: background-color 1s;
}
summary{
  background-color: white; 
  color: #000000;
}
marquee{
  background-color: black;
  color: white;
}
p {
  color: #000000;
}
label{
  position: relative;
}
input{
  background-color: white;
  width: 0px;
  transition: width 1s, border-radius 1s;
  border-radius: 50%;
  border-color: traansparant;
  outline: none;
  padding: 12px 20px 10px 16px;
  color: black;
  cursor: pointer;
}
input:focus{
  border-radius: 10%/20%;
  width: 150px;
  color: blue;
}
